{{- $hasTOC := ge (len .Context.TableOfContents) 100 -}}
{{- if $hasTOC -}}
    <section class="widget archives">
        <div class="widget-icon">
            {{ partial "helper/icon" "hash" }}
        </div>
        <h2 class="widget-title section-title">{{ T "article.tableOfContents" }}</h2>

        <div class="widget--toc">
            {{- $toc := .Context.TableOfContents -}}
            {{- if eq .Context.Params.toc_number false -}}
                {{- $toc = replace $toc "<ol>" "<ul>" -}}
                {{- $toc = replace $toc "</ol>" "</ul>" -}}
            {{- end -}}
            {{ $toc | safeHTML }}
        </div>
    </section>
{{- end -}}
