{{- $pageTitle := .Title -}}
{{- $siteTitle := .Site.Title -}}
{{- $paginator := partial "helper/paginator.html" . -}}

{{- $title := slice -}}

{{- if and $paginator $paginator.HasPrev -}}
    {{- $title = $title | append (printf "Page %d" $paginator.PageNumber) -}}
{{- end -}}

{{- $baseTitle := default $siteTitle $pageTitle -}}
{{- $title = $title | append $baseTitle -}}

{{- if ne $baseTitle $siteTitle -}}
    {{- $title = $title | append $siteTitle -}}
{{- end -}}

{{- return delimit $title " | " -}}
